.timer-form {
  padding: 1rem;

  #hms-fields {
    justify-content: center;
    margin-bottom: 0;

    .control {
      margin-right: 0;
      .input {
        border-radius: 0;
        width: 100px;
        font-size: 24px;
      }
      &:first-of-type {
        .input {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }
      &:last-of-type {
        .input {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }
  }
}

#countdown-timer-display {
  font-family: "Cutive Mono", monospace;
}

#timer-display {
  display: flex;
  justify-content: space-around;
  font-family: "Cutive Mono", monospace;
  text-align: center;

  .time {
    font-size: 3rem;
  }
}

#timer-page {
  #react-markdown-container {
    text-align: left;
  }
  .flipper {
    height: 350px;
  }
}

.timer-list-item {
  cursor: pointer;
  border-radius: 5px;
  transition: all 250ms;
  margin: 0 1rem;
  border: 1px solid #cacaca;
  padding: 1rem;

  &:hover {
    background: #dddddd;
    box-shadow: 0 0 3px #dddddd;
  }

  + .timer-list-item {
    margin-top: 1rem;
  }
}
