.timer-form {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

.timer-form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.timer-form .form-control:first-of-type {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.timer-form .form-control:last-of-type {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-bottom: 10px;
}

.jumbotron.has-footer {
    padding-bottom: 0;
}
.jumbotron.has-footer footer {
    padding-bottom: 1rem;
}

.timer-list-item {
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 0 0 2px #000;
    padding: 1rem 0;
    cursor: pointer;
    transition: all 250ms;
}

.timer-list-item:hover {
    background-color: lightgray;
}

#countdown-timer-display {
    font-family: 'Cutive Mono', monospace;
}

#timer-display {
    display: flex;
    justify-content: space-around;
    font-family: 'Cutive Mono', monospace;
    text-align: center;
}

#timer-display .time {
    font-size: 3rem;
}