.timer-form {
  padding: 1rem;

  #hms-fields {
    justify-content: center;
    margin-bottom: 0;

    .control {
      margin-right: 0;
      .input {
        border-radius: 0;
        width: 100px;
        font-size: 24px;
      }
      &:first-of-type {
        .input {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }
      &:last-of-type {
        .input {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }
  }
}

#countdown-timer-display {
  font-family: "Cutive Mono", monospace;
}

#timer-display {
  display: flex;
  justify-content: space-around;
  font-family: "Cutive Mono", monospace;
  text-align: center;

  .time {
    font-size: 3rem;
  }
}

#timer-page {
  #timer-message-container {
    text-align: left;
  }
  .flipper {
    height: 275px;
  }
}
