.markdown-container {
  border: 1px solid #cacaca;
  border-radius: 4px;
  box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
  padding: 1rem;

  ul {
    list-style-type: disc;
    margin-left: 1rem;
  }
  ol {
    margin-left: 1rem;
  }
  .number {
    background: none;
    border-radius: 0;
    font-size: 1rem;
    margin-right: 0;
    height: auto;
    padding: 0;
    min-width: auto;
    vertical-align: initial;
  }
}
